* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: url("./assets/festiva-03.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
}
@font-face {
  font-family: "Medium"; /*Can be any text*/
  src: local("ironMaidenFont"), url("./fonts/maiden.ttf") format("truetype");
}

nav {
  background-image: url("./assets/fire.png");
  background-size: contain;
  background-repeat: repeat-x;
  background-position: bottom;
  height: 7rem;
  width: 100%;
}

label.navbar {
  color: white;
  font-size: 2.5rem;
  line-height: 5rem;
  font-weight: bold;
}

.navbar-img {
  width: 13%;
  float: left;
  margin: 1rem 2rem;
}
nav ul {
  float: right;
  margin-right: 2rem;
}

button {
  background-image: url("./assets/metal.png");
  background-size: cover;
  font-family: "Medium";
  font-weight: 800;
  display: inline-block;
  padding: 1rem;
  margin: 2rem 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  border-radius: 0.5rem;
}

.btn-rock:link,
.btn-rock:visited {
  text-decoration: none;
  padding: 1rem 1rem;
  display: inline-block;
  width: 10rem;
  border-radius: 0.8rem;
  font-size: 1.6rem;
  justify-content: center;
}

.btn-rock:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(255, 253, 253, 0.5);
}

.btn-rock:active {
  transform: translateY(-0.1rem);
}

.form-container {  
  color: white;
  background-color: black;
  border: 1px solid grey;
  box-shadow: 0rem 0.1rem 0.2rem grey;
  width: 40rem;
  text-align: center;
  margin: 0.5rem auto;  
  padding: 0.5rem;
  border-radius: 0.4rem;
}

.Form-form,
.form-label {
  color: white;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;  
}
label.form-label{
  align-items: flex-start;
}

.form-input {
  color: black;
  background-color: rgb(249, 223, 183);
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}
.multiselect-form {
  padding-top: 3rem;
  color: black;
}

div.homepage,
div.festival-list,
div.band-list {
  width: 100%;
  margin: 1rem;
}

.FestivalListPage {
  display: flex;
  flex-direction: column;
}
div.festivalList.btn-container {
  display: flex;
  flex-direction: row;  
  
}

.festival-list,
.band-list {
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  align-items: center;
  margin: 2.5rem;
}

div.band-card{
  margin: 1rem;
}
.bandList-h3{
  width: 8rem;
  height: 4rem;
  color: white;
}

.bandList-img{
  border-radius: 10rem;
  pointer-events: none;
}

.festival-card {
  width: 11rem;
  height: 17.5rem;
  padding: 0.5rem;
  box-shadow: 0px 1.5px 3px grey;
  margin: 1rem 3rem 0.5rem 3rem;
  background: radial-gradient(
    rgba(253, 219, 109, 0.762),
    rgba(200, 80, 5, 0.941)
  );
  border-radius: 4px;
}
.h3-festival-card {
  font-family: "Medium";
  color: black;
  font-weight: 800;
}

.img-festival-card {
  width: 10rem;
  height: 12rem;
}